.Content {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 0 0 2.5rem 2.5rem;
	display: flex;
}

.Days {
	width: 100%;
}

.Days > a:nth-child(even) {
	background: rgba(0, 0, 0, 0.3);
}

.Days > a:last-child {
	border-radius: 0 0 2.5rem 2.5rem;
}
