.Current {
	background: rgba(0, 0, 0, 0.5);
	padding: 1.5rem;
	border-radius: 2.5rem 2.5rem 0 0;
	display: flex;
	flex-wrap: wrap;
}

.Current > div,
.Current ul {
	width: 50%;
	text-align: center;
}

.Current ul li {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
}

.Current ul li:first-child {
	border: none;
}

.Current li > div {
	width: 50%;
}

.Current li span,
.Current li strong {
	display: block;
	text-align: center;
}

.Current li span {
	text-transform: uppercase;
	font-weight: 200;
}

.Current li strong {
	font-size: 2rem;
}

.Current li strong span {
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 700;
	margin-right: 0.5rem;
}

.Location {
	font-size: 3rem;
}

.Summary {
	font-size: 2.2rem;
}

.Temperature {
	font-size: 3.5rem;
}

@media (max-width: 767px) {
	.Current > div,
	.Current ul {
		width: 100%;
	}

	.Current > div {
		margin-bottom: 30px;
	}
}
